body { 
    background-color: rgb(82, 0, 31); 
}
h1 {
    color: white;
    font-family: Arial;
    font-size: 110%
}
p {
    color: white;
    font-family: Arial;
    font-size: 100%
}
h2 {
    color: white;
    font-family: Arial;
    font-size: 100%
}
h3 {
    color: white;
    font-family: Arial;
    font-size: 100%
}
h4 {
    color: white;
    font-family: Arial;
    font-size: 100%
}
h5 {
    color: white;
    font-family: Arial;
    font-size: 100%
}
h6 {
    color: white;
    font-family: Arial;
    font-size: 100%
}
